<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded Images</title>
    <link rel="stylesheet" href="/views/userprofile.css">
</head>
<body>
	<div class="navbar">
		<a href="/adminPage">Admin</a>
        <a href="/userimages">Home</a>
        <a href="/userprofile">Profile</a>
        <a href="/uploadImages">Upload</a>
        <a href="/logout">Logout</a>
    </div>
    <h1>
		Uploaded Images
	</h1>
	
	<div>
		<% items.forEach(function(image) { %>
		<div>
			<div class="Home">
				<div class="Post">
					<div class="Image">
						<img src="data:image/<%=image.img.contentType%>;base64,
							<%=image.img.data.toString('base64')%>">
					</div>
					<div class="Content">
						<div class="title"><%= image.name %></div>
						<div class="description"><%= image.desc %></div>
						<div><img class="likes" style="width: 10%; align-self: center;" onclick="window.location.href='/clicked/click?name=<%=image.name%>'" src="/views/Pictures/Heart.png"><%= image.likes %></div>

		</div>
		<% }) %>
	</div>
</body>
</html>